{% from "components/notification/_macro.notification.njk" import componentNotification %}
<!-- page.notification-header-mfe -->
<section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
  <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
  {{ componentNotification({
    "title": {
      "text": "El documento se ha cargado correctamente"
    },
    "type": "success",
    "id": "type-success",
    "isDismissible": true,
    "classes": "c-notification--success mt-base"
  })  }}
  {% endcall %}
</section>
<!-- /page.notification-header-mfe -->
