{% set title = "Test guiado de identificación y firma paso a paso. Módulo de firma electrónica e identificación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{# Definiciones #}
{% set radioUnaPersona %}
  {{ componentRadios({
    "idPrefix": "documentos-a-firmar",
    "name": "documentos-a-firmar",
    "fieldset": {
      "legend": {
        "text": "¿Cuántos documentos vas a firmar?"
      }
    },
    "items": [
      {
        "value": "uno",
        "text": "Un documento"
      },
      {
        "value": "varios",
        "text": "Varios documentos"
      }
    ]
  })  }}
{% endset %}
{% set radioMasPersonas %}
  {{ componentRadios({
    "idPrefix": "orden-definido",
    "name": "orden-definido",
    "fieldset": {
      "legend": {
        "text": "¿Hay un orden definido para los firmantes?"
      }
    },
    "items": [
      {
        "value": "si",
        "text": "Sí",
        "hint": {
          "text": "En un orden definido de forma que la segunda valida a la anterior."
        }
      },
      {
        "value": "no",
        "text": "No",
        "hint": {
          "text": "Sin un orden definido de forma que permite generar dos firmas en paralelo."
        }
      }
    ]
  })  }}  
{% endset %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="mt-xl mb-2xl">
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Test de identificación y firma',
      "classes": "c-button--transparent mb-lg",
      "href": "mfe-test-guiado-identificacion-y-firma.html"
    })  }}
    <h1 class="c-h1 text-4xl">Test de identificación y firma paso a paso</h1>
    <p class="mb-base">En estas páginas podrás realizar test de identificación y firma para verificar que podrás llevar a cabo estos procesos en las aplicaciones de Gobierno de Aragón.</p>
    <p class="mb-xl">Accede al listado completo de los <a class="c-link" href="#">test de identificación y firma</a>.</p>
    <fieldset>
      <legend class="text-lg font-bold">¿Qué deseas realizar?</legend>
      {{ componentRadios({
        "idPrefix": "test-ientificacion-firma",
        "name": "test-ientificacion-firma",
        "items": [
          {
            "value": "identificacion",
            "text": "Test de identificación",
            "hint": {
              "html": 'Comprueba el proceso de identificación a las aplicaciones del Gobierno de Aragón, tanto con <span aria-label="Clavefirma">Cl@ve</span> como con certificado electrónico.'
            }
          },
          {
            "value": "firma",
            "text": "Test de firma",
            "hint": {
              "html": 'Comprueba el proceso de firma para las aplicaciones del Gobierno de Aragón.'
            },
            "checked": true
          }
        ]
      })  }}
      <!--El siguiente div estará hidden por defecto y sólo pasará a block si es elegida la segunda opción del radio anterior-->
      <div class="block">
        {{ componentRadios({
          "idPrefix": "firma-personas",
          "name": "firma-personas",
          "fieldset": {
            "legend": {
              "text": "¿Va a firmar una persona o varias?",
              "classes": "text-lg font-bold"
            }
          },
          "hint": {
            "text": "Recuerda que necesitas disponer del NIF y el certificado de cada persona."
          },
          "items": [
            {
              "value": "UnaPersona",
              "text": "Una persona",
              "conditional": {
                "html": radioUnaPersona
              }
            },
            {
              "value": "MasPersonas",
              "text": "Más de una persona",
              "conditional": {
                "html": radioMasPersonas
              }
            }
          ]
        })  }}
      </div>
      {{ componentButton({
        "text": "Siguiente",
        "classes": "c-button--primary"
      })  }}
    </fieldset>
  </div>

  {# Información de contacto #}
  {% include "includes/contacto-footer.njk" %}
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}