{% set title = "Tests de identificación y firma. Módulo de firma electrónica e identificación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="prose mb-xl">
    <h1>Tests de identificación y firma</h1>
    <p>
      En estas páginas podrás comprobar si tu sistema y navegador cumple los requisitos. También podrás hacer pruebas de acceso y de firma para asegurarte que tu navegador permite interactuar con las aplicaciones.
    </p>
  </div>
  <div class="mb-xl">
    <ul>
      <li class="mb-base">
        <a class="c-link" href="#">Test de identificación con <span aria-label="Clave">Cl@ve</span></a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Test de identificación con certificado electrónico</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Test de firma electrónica</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Test de multifirma electrónica en cascada</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Test de multifirma electrónica en paralelo</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="#">Test de firma electrónica en lote</a>
      </li>
    </ul>
  </div>

  <hr class="border-t border-neutral-base my-xl">
  <h2 id="contacto" class="c-h2 group">Ponte en contacto  <a href="#contacto" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
  <div class="grid gap-base lg:grid-cols-2 mb-xl">
    <div>
      <h3 class="c-h3">Si eres ciudadano/a:</h3>
      <div class="prose">
        <p>
          Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
        </p>
        <ul>
          <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
          <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
          <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="c-h3">Si trabajas para el Gobierno de Aragón:</h3>
      <div class="prose">
        <p>
          Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
        </p>
        <ul>
          <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
          <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
          <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}