{% set title = "Cargando. Espera por favor… Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {% include "includes/notificacion-identificado-correctamente.njk" %}
  </section>
  <!-- /page.notification-header-mfe -->
  {{ componentSpinner({
    "classes": "hidden lg:inline-block align-middle ml-base mr-lg text-2xl",
    "attributes": {
      "aria-hidden": true
    }
  })  }}
  <h2 class="c-h2 lg:inline-block mb-sm">Cargando. Por favor, espera unos segundos...</h2>
  <p class="c-paragraph-base lg:ml-12 mb-xl">
    Si tarda demasiado, espera unos minutos y <a href="#" class="c-link">vuelve a intentarlo</a> desde el inicio.
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}