{% set title = "Selecciona organismo. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% set browser = "Internet Explorer 6" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {% include "includes/notificacion-identificado-correctamente.njk" %}
  </section>
  <!-- /page.notification-header-mfe -->
  {% set orgArray = [
      "DEPARTAMENTO DE HACIENDA Y ADMINISTRACIÓN PÚBLICA",
      "SECRETARIA GENERAL TÉCNICA DEL DEPARTAMENTO DE EDUCACIÓN, CULTURA Y DEPORTE",
      "SECRETARÍA GENERAL TÉCNICA DEL DEPARTAMENTO DE AGRICULTURA, GANADERÍA Y MEDIO AMBIENTE"]
  %}
  {{ componentSelect({
    "id": "select-org",
    "name": "select-org",
    "label": {
      "html": '<h2>Selecciona un organismo</h2>',
      "classes": "c-h2"
    },
    "items": [
      {
        "value": "ORG03531",
        "text": orgArray[0] | title
      },
      {
        "value": "ORG11197",
        "text": orgArray[1] | title,
        "selected": true
      },
      {
        "value": "ORG17186",
        "text": orgArray[2] | title
      }
    ],
    "classes": "max-w-full",
    "attributes": {
      "aria-required": true
    }
  })  }}
  {{ componentSelect({
    "id": "select-org",
    "name": "select-org",
    "label": {
      "html": '<h2>Selecciona un organismo</h2>',
      "classes": "c-h2"
    },
    "errorMessage": {
      "text": "Error: No tienes permisos para ese organismo"
    },
    "items": [
      {
        "value": "ORG03531",
        "text": orgArray[0] | title
      },
      {
        "value": "ORG11197",
        "text": orgArray[1] | title,
        "selected": true
      },
      {
        "value": "ORG17186",
        "text": orgArray[2] | title
      }
    ],
    "classes": "max-w-full",
    "attributes": {
      "aria-required": true
    }
  })  }}
  <ul>
    <li class="inline-block">
      {{ componentButton({
        "text": "Continuar",
        "classes": "c-button--primary"
      })  }}
    </li>
    <li class="inline-block">
      {{ componentButton({
        "text": "Acceder con otro usuario",
        "classes": "c-button--transparent"
      })  }}
    </li>
  </ul>
  <div class="pb-xl"></div>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}