{% set title = "Firma Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {% include "includes/error-navegador-firma.njk" %}
    {% include "includes/error-firma.njk" %}
    {% include "includes/error-firma-requisitos.njk" %}
  </section>
  <!-- /page.notification-header-mfe -->
  {{ componentRadios({
    "idPrefix": "identificacion",
    "name": "identificacion",
    "fieldset": {
      "legend": {
        "html": '<h2>¿Cómo quieres firmar?</h2>',
        "classes": "c-h2"
      }
    },
    "hint": {
      "html": '<span class="sr-only">Por favor, selecciona una opción para firmar.</span>Para firmar necesitarás estar <a href="#" class="c-link">registrado con nivel avanzado en <span aria-label="Clave">Cl@ve</span></a>, o bien, deberás tener instalada la aplicación de escritorio <a href="#" class="c-link">Autofirma</a> para firmar con tu certificado electrónico.'
    },
    "items": [
      {
        "value": "clavefirma",
        "html": 'Con <span aria-label="Clavefirma">Cl@veFirma</span>',
        "hint": {
          "html": 'Esta es la opción recomendada si no tienes certificado electrónico y/o estás registrado con nivel avanzado en <span aria-label="Clave">Cl@ve</span>.'
        },
        "checked": true
      },
      {
        "value": "afirma",
        "text": "Con certificado electrónico",
        "hint": {
          "html": 'Para firmar usando tu certificado electrónico o DNIe con la aplicación <a href="#" class="c-link" title="Descarga la aplicación Autofirma">AutoFirma</a> o el MiniApplet Cliente @Firma.'
        }
      }
    ]
  })  }}
  {{ componentButton({
    "text": "Firmar",
    "classes": "c-button--primary"
  })  }}
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-lg">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es <span aria-label="Clavefirma">Cl@veFirma</span>?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Cl@veFirma es una plataforma de verificación de identidades electrónicas para la identificación y autenticación de la ciudadanía. Nos permite identificarnos ante las Administraciones Públicas con plenas garantías de seguridad.</p>
            <p>La principal diferencia con el resto de componentes de firma es que el ciudadano no tiene porqué disponer de certificados instalados en su equipo. De esta forma, se firma utilizando el <em>"certificado en la nube"</em> generado por <span aria-label="Clave">Cl@ve</span>.</p>
            <p>
              Más información en el <a class="c-link" href="https://clave.gob.es/clave_Home/dnin/queEs.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es @Firma?'
          }
        })  %}
          <div class="prose ml-6">
            <p>XXXXXX</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Tengo un DNIe o un certificado electrónico, ¿Qué opción he de elegir?'
          }
        })  %}
          <div class="prose ml-6">
            <p>XXXXXX</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es <span aria-label="Clave">Cl@ve</span>?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Cl@ve es una plataforma de verificación de identidades electrónicas para la identificación y autenticación de la ciudadanía. Nos permite identificarnos ante las Administraciones Públicas con plenas garantías de seguridad.</p>
            <p>
              Más información en el <a class="c-link" href="https://clave.gob.es/clave_Home/clave/queEs.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Para firmar con <span aria-label="Clave">Cl@ve</span> necesito estar registrado. ¿Cómo registrarme?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Hay 3 vías para registrarse en <span aria-label="Clave">Cl@ve</span>:
            </p>
            <ul>
              <li>A través de Internet sin certificado electrónico.</li>
              <li>A través de Internet con certificado electrónico o DNIe.</li>
              <li>Presencialmente en una Oficina de Registro.</li>
            </ul>
            <p>
              Lee la explicación completa paso a paso en el <a class="c-link" href="https://clave.gob.es/clave_Home/registro/Como-puedo-registrarme.html">sitio web de <span aria-label="Clave">Cl@ve</span></a>.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo firmo con <span aria-label="Clavefirma">Cl@veFirma</span>?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              XXXX
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo firmo con @Firma?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              XXXX
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo saber qué certificado tengo instalado?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Encontrarás una explicación breve y clara en el vídeo <a class="c-link" href="https://youtu.be/FAzV53Actlw">Ciudadanos: cómo saber qué certificado tengo instalado</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Soy ciudadano/a y no puedo firmar. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Trabajo para el Gobierno de Aragón y no puedo firmar. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número interno de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Tengo un problema relativo a trámites, plazos y otros temas no técnicos. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Si tus dudas o problemas son relativos a temas no técnicos sino de la administración, puedes contactar con nosotros:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Información: <a href="tel:+34976714111" class="c-link">976 71 41 11</a>. <br>Horario de lunes a viernes de 9:00 a 14:00</li>
              <li>Escribir un email a: <a href="mailto:infoyregistro@aragon.es" class="c-link">infoyregistro@aragon.es</a></li>
            </ul>
          </div>
        {% endcall %}
      </li>
    </ul>
  </div>
  <!-- end FAQ -->
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}