{% set title = "Sesión cerrada en: Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h2">Sesión cerrada en {{ currentAppName }}</h1>
  <p class="c-paragraph-base">
    Si has utilizado tu certificado en la sesión, cierra tu navegador para asegurar el cierre de sesión.
    Si deseas puedes <a href="#" class="c-link">volver a identificarte en {{ currentAppName }}</a>.
  </p>
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}