{% set title = "Firmar con certificado . Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {% include "includes/error-navegador-firma.njk" %}
    {% include "includes/error-firma.njk" %}
  </section>
  <!-- /page.notification-header-mfe -->
  <h2 class="c-h2">Firmar con certificado electrónico</h2>
  <p class="c-paragraph-base">
    Si quieres firmar usando tu certificado electrónico o DNIe con la aplicación <a href="#" class="c-link">AutoFirma</a>.
  </p>
  {{ componentButton({
    "text": "Firmar con certificado electrónico",
    "classes": "c-button--primary"
  })  }}
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-lg">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es Autofirma?'
          }
        })  %}
          <div class="prose ml-6">
            <p>XXXXXX</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Tengo un DNIe o un certificado electrónico, ¿Puedo firmar con Autofirma?'
          }
        })  %}
          <div class="prose ml-6">
            <p>XXXXXX</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo firmo con Autofirma?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              XXXX
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cómo saber qué certificado tengo instalado?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Encontrarás una explicación breve y clara en el vídeo <a class="c-link" href="https://youtu.be/FAzV53Actlw">Ciudadanos: cómo saber qué certificado tengo instalado</a>. En el <a class="c-link" href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw">canal de Youtube de SDA Servicios Digitales de Aragón</a> encontrarás más videos útiles de ayuda.
            </p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Soy ciudadano/a y no puedo firmar. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Trabajo para el Gobierno de Aragón y no puedo firmar. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul>
              <li>Llamar al número interno de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
              <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
            </ul>
            <p>También puedes consultar los <a href="https://www.youtube.com/channel/UCUAhYzc8VKOfDVZZTFghOXw/featured">vídeos de ayuda de SDA - Servicios Digitales de Aragón en Youtube</a></p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": 'Tengo un problema relativo a trámites, plazos y otros temas no técnicos. ¿Dónde encuentro ayuda?'
          }
        })  %}
          <div class="prose ml-6">
            <p>
              Si tus dudas o problemas son relativos a temas no técnicos sino de la administración, puedes contactar con nosotros:
            </p>
            <ul>
              <li>Llamar al número de teléfono de Información: <a href="tel:+34976714111" class="c-link">976 71 41 11</a>. <br>Horario de lunes a viernes de 9:00 a 14:00</li>
              <li>Escribir un email a: <a href="mailto:infoyregistro@aragon.es" class="c-link">infoyregistro@aragon.es</a></li>
            </ul>
          </div>
        {% endcall %}
      </li>
    </ul>
  </div>
  <!-- end FAQ -->
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}