{% set title = "Redirigiendo a identificación con certificado electrónico. Espera por favor… Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {{ componentSpinner({
    "classes": "hidden lg:inline-block align-middle ml-base mr-lg text-2xl",
    "attributes": {
      "aria-hidden": true
    }
  })  }}
  <h2 class="c-h2 lg:inline-block mb-sm">Redirigiendo a identificación con certificado electrónico...</h2>
  <p class="c-paragraph-base lg:ml-12">
    Una vez identificado, accederás automáticamente a la aplicación.
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}