{% set title = "Test de identificación con Clave. Módulo de firma electrónica e identificación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/status-item/_macro.status-item.njk" import componentStatusItem %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Tests de identificación y firma',
    "classes": "c-button--transparent mb-lg",
    "href": "#"
  })  }}
  <div class="prose">
    <h1>Test de identificación con <span aria-label="Clave">Cl@ve</span></h1>
    <p>Aqui podrás comprobar el proceso de identificación para acceder a las aplicaciones del Gobierno de Aragón. Comprobarás si tu equipo cumple con los requisitos para poder acceder y podrás realizar pruebas de identificación.</p>
  </div>
  <div class="my-xl"></div>
  <div class="mb-xl">
    <h2 id="datos-equipo" class="c-h3 uppercase p-base group">¿Cumple mi equipo los requisitos? <a href="#datos-equipo" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
    {% call componentStatusItem({
      "id": "status-equipo",
      "items": [
        {
          "term": {
            "text": "Navegador"
          },
          "definition": {
            "text": "Chrome"
          }
        },
        {
          "term": {
            "text": "Version del navegador"
          },
          "definition": {
            "text": "92"
          }
        },
        {
          "term": {
            "text": "Sistema operativo"
          },
          "definition": {
            "text": "OSX"
          }
        },
        {
          "term": {
            "text": "Versión del sistema operativo"
          },
          "definition": {
            "text": "11.2.3 Big Sur"
          }
        },
        {
          "term": {
            "text": "Versión de Java"
          },
          "definition": {
            "text": "7.0.3"
          }
        }
      ],
      "status": {
        "text": "Todo correcto",
        "icon": {
          "type": "success"
        },
        "classes": "text-success-dark"
      }
    })  %}
        <div class="py-4"></div>
    {% endcall %}
  </div>
  <div class="py-lg"></div>

  <div class="mb-2xl">
    <h2 id="prueba" class="c-h3 uppercase p-base mb-0 group">Haz tu prueba aqui <a href="#prueba" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
    <div class="p-base bg-neutral-light rounded-lg border border-neutral-base">
      <div class="hidden">
        <!-- notificación -->
        {{ componentNotification({
          "title": {
            "text": "Debes establecer tu configuración previa"
          },
          "id": "info-notification"
        })  }}
      </div>
      <!-- /notificación -->
      <div class="p-base bg-white border border-neutral-base rounded-lg">
        <!-- iframe -->
        <iframe src="mfe-index-clave-iframe-content.html" frameborder="0" class="w-full"></iframe>
        <!-- /iframe -->
      </div>
    </div>
  </div>

  <div class="mb-lg">
    <h2 id="resultado" class="c-h3 uppercase mb-xl p-base border-b border-neutral-base group">Resultado de la prueba <a href="#resultado" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
    <div class="px-base">
      <!-- notificación -->
      {{ componentNotification({
        "title": {
          "text": "Aqui aparecerá el resultado de la prueba"
        },
        "description": {
          "html": 'Procede a realizar tu prueba en el apartado de arriba: <a href="#prueba" class="c-link">Haz tu prueba aqui</a>'
        },
        "id": "info-notification"
      })  }}
      <!-- /notificación -->
    </div>
  </div>
  <hr class="border-t border-neutral-base mt-xl mb-2xl">
  <h2 id="ponte-en-contacto" class="c-h2">Ponte en contacto</h2>
  <div class="grid gap-base lg:grid-cols-2 mb-xl">
    <div>
      <h3 class="c-h3">Si eres ciudadano/a:</h3>
      <div class="prose">
        <p>
          Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
        </p>
        <ul>
          <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
          <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
          <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="c-h3">Si trabajas para el Gobierno de Aragón:</h3>
      <div class="prose">
        <p>
          Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
        </p>
        <ul>
          <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
          <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
          <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% block modalBlock %}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}