{% set title = "Firmar con Clavefirma. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {# {% include "includes/error-navegador-firma.njk" %}
    {% include "includes/error-firma.njk" %} #}
  </section>
  <!-- /page.notification-header-mfe -->
  <h2 class="c-h2">Firmar con <span aria-label="Clavefirma">Cl@veFirma</span></h2>
  <p class="c-paragraph-base">
    Si no tienes certificado electrónico y/o estás <a href="#" class="c-link">registrado con nivel avanzado en <span aria-label="Clave">Cl@ve</span></a>.
  </p>
  {{ componentButton({
    "html": 'Firmar con&nbsp;<span aria-label="Clavefirma">Cl@veFirma</span>',
    "classes": "c-button--primary"
  })  }}
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}