{% set title = "Redirigiendo a plataforma de firma. Espera por favor… Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {{ componentSpinner({
    "classes": "hidden lg:inline-block align-middle ml-base mr-lg text-2xl",
    "attributes": {
      "aria-hidden": true
    }
  })  }}
  <h2 class="c-h2 lg:inline-block mb-sm">Redirigiendo a plataforma de firma. Por favor, espera unos segundos...</h2>
  <p class="c-paragraph-base  mb-xl lg:ml-12">
    Si tarda demasiado, espera unos minutos y <a href="#" class="c-link">vuelve a intentarlo</a> desde el inicio.
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}