{% set title = "Test guiado de identificación y firma. Módulo de firma electrónica e identificación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="mt-xl mb-2xl">
    <h1 class="c-h1 text-4xl">Test de identificación y firma</h1>
    <p class="mb-base">En estas páginas podrás realizar test de identificación y firma para verificar que podrás llevar a cabo estos procesos en las aplicaciones de Gobierno de Aragón.</p>
    <p class="mb-xl">Accede a los <a class="c-link" href="#">test de identificación y firma paso a paso</a>.</p>
    <h2 class="c-h2">Test de identificación</h2>
    <p><a class="c-link" href="#">Test de identificación</a></p>
    <hr class="border-t border-neutral-base my-xl">
    <h2 class="c-h2">Test de firma</h2>
    <p class="mb-lg">Comprueba el proceso de firmas para las aplicaciones del Gobierno de Aragón.</p>
    <h3 class="c-h3">Test de una única firma</h3>
    <p class="mb-base"><a class="c-link" href="#">Test de firma electrónica de un único documento</a></p>
    <p class="mb-lg"><a class="c-link" href="#">Test de firma electrónica de varios documentos</a></p>
    <h3 class="c-h3">Test de multi-firma</h3>
    <p class="mb-base"><a class="c-link" href="#">Test de multi-firma en cascada (con orden definido)</a></p>
    <p class="mb-lg"><a class="c-link" href="#">Test de multi-firma en paralelo (sin un orden definido)</a></p>
  </div>

  {# Información de contacto #}
  {% include "includes/contacto-footer.njk" %}
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}