{% set title = "Accediendo. Espera por favor… Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  {{ componentSpinner({
    "classes": "hidden lg:inline-block align-middle ml-base mr-lg text-2xl",
    "attributes": {
      "aria-hidden": true
    }
  })  }}
  <h1 class="c-h2 lg:inline-block mb-sm">Accediendo...</h1>
  <p class="c-paragraph-base lg:ml-12">
    Identificado con éxito. La aplicación te está dando acceso.
  </p>
  <p class="c-paragraph-base lg:ml-12">
    Si tarda demasiado, espera unos minutos y <a href="#" class="c-link">vuelve a intentarlo</a> desde el inicio.
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}