{% set title = "Error en la identificación. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {{ componentNotification({
      "title": {
        "text": "Problemas encontrados"
      },
      "description": {
        "html": 'Información extra del error.'
      },
      "type": "alert",
      "id": "type-alert",
      "isDismissible": true,
      "classes": "c-notification--alert mb-base"
    })  }}
  </section>
  <!-- /page.notification-header-mfe -->
  <h1 class="c-h2">Error en la identificación</h2>
  <p class="c-paragraph-base">
    Consejos:
  </p>
  <ul class="c-ul">
    <li><a href="#" class="c-link">Vuelve a la aplicación</a> e intenta identificarte de nuevo.</li>
    <li>Comprueba si tienes certificados instalados en el navegador.</li>
    <li>Comprueba que tus certificados no estén caducados o revocados.</li>
    <li>Si los cerfificados los usas a partir de un DNI electrónico o una tarjeta criptográfica, comprueba que está correctamente insertada.</li>
    <li>Si no puedes seleccionar un nuevo certificado: Primero, cierra y vuelve a abrir el navegador. Luego vuelve a la aplicación e intenta identificarte de nuevo.</li>
  </ul>
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}