{% set title = "Test guiado de identificación y firma. Test de identificación. Módulo de firma electrónica e identificación. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/table/_macro.table.njk" import componentTable %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="mt-xl mb-2xl">
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Test de identificación y firma',
      "classes": "c-button--transparent mb-lg",
      "href": "mfe-test-guiado-identificacion-y-firma.html"
    })  }}
    <h1 class="c-h1 text-4xl">Test de identificación con <span aria-label="Clavefirma">Cl@ve</span></h1>
    <p class="mb-xl">Aquí podrás comprobar el proceso de identificación para acceder a las aplicaciones del Gobierno de Aragón. Comprobarás si tu equipo cumple con los requisitos para poder acceder y podrás realizar pruebas de identificación.</p>
    <h2 class="c-h2">1. Comprueba si tu equipo cumple los requisitos</h2>
    {{ componentTable({
      "caption": "Requisitos de tu equipo",
      "captionClasses": "sr-only",
      "firstCellIsHeader": true,
      "classes": "w-full mb-base",
      "rows": [
        [
          {
            "html": 'Navegador',
            "classes": "text-base"
          },
          {
            "html": 'Chrome'
          },
          {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 inline align-top mr-sm" role="img" aria-label="Correcto"><path d="M41.86 131.25a23.982 23.982 0 0 1-18.494-8.666L2.254 95.746a10.5 10.5 0 1 1 16.492-12.992l21 26.6a2.24 2.24 0 0 0 2.212.882 3.038 3.038 0 0 0 2.38-1.148l76.958-96.39a10.5 10.5 0 1 1 16.408 13.104L60.606 122.29A24.038 24.038 0 0 1 42 131.25Z" fill="currentColor"/></svg> Correcto',
            "classes": "text-success-dark font-semibold"
          }
        ],
        [
          {
            "html": 'Versión del navegador',
            "classes": "text-base"
          },
          {
            "html": '92'
          },
          {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 inline align-top mr-sm" role="img" aria-label="Correcto"><path d="M41.86 131.25a23.982 23.982 0 0 1-18.494-8.666L2.254 95.746a10.5 10.5 0 1 1 16.492-12.992l21 26.6a2.24 2.24 0 0 0 2.212.882 3.038 3.038 0 0 0 2.38-1.148l76.958-96.39a10.5 10.5 0 1 1 16.408 13.104L60.606 122.29A24.038 24.038 0 0 1 42 131.25Z" fill="currentColor"/></svg> Correcto',
            "classes": "text-success-dark font-semibold"
          }
        ],
        [
          {
            "html": 'Sistema operativo',
            "classes": "text-base"
          },
          {
            "html": 'OSX'
          },
          {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 inline align-top mr-sm" role="img" aria-label="Correcto"><path d="M41.86 131.25a23.982 23.982 0 0 1-18.494-8.666L2.254 95.746a10.5 10.5 0 1 1 16.492-12.992l21 26.6a2.24 2.24 0 0 0 2.212.882 3.038 3.038 0 0 0 2.38-1.148l76.958-96.39a10.5 10.5 0 1 1 16.408 13.104L60.606 122.29A24.038 24.038 0 0 1 42 131.25Z" fill="currentColor"/></svg> Correcto',
            "classes": "text-success-dark font-semibold"
          }
        ],
        [
          {
            "html": 'Versión del sistema operativo',
            "classes": "text-base"
          },
          {
            "html": '11.2.3. Big Sur'
          },
          {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 inline align-text-bottom mr-sm" role="img" aria-label="Incorrecto"><path d="M89.796 74.956a7 7 0 0 1 0-9.912L136.92 17.92a10.5 10.5 0 0 0-14.84-14.84L74.956 50.204a7 7 0 0 1-9.912 0L17.92 3.08A10.5 10.5 0 0 0 3.08 17.92l47.124 47.124a7 7 0 0 1 0 9.912L3.08 122.08a10.5 10.5 0 1 0 14.84 14.84l47.124-47.124a7 7 0 0 1 9.912 0l47.124 47.124a10.5 10.5 0 0 0 14.84-14.84Z" fill="currentColor"/></svg> Incorrecto',
            "classes": "text-alert-base font-semibold"
          }
        ],
        [
          {
            "html": 'Versión de Java',
            "classes": "text-base"
          },
          {
            "html": '7.0.3'
          },
          {
            "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 inline align-top mr-sm" role="img" aria-label="Correcto"><path d="M41.86 131.25a23.982 23.982 0 0 1-18.494-8.666L2.254 95.746a10.5 10.5 0 1 1 16.492-12.992l21 26.6a2.24 2.24 0 0 0 2.212.882 3.038 3.038 0 0 0 2.38-1.148l76.958-96.39a10.5 10.5 0 1 1 16.408 13.104L60.606 122.29A24.038 24.038 0 0 1 42 131.25Z" fill="currentColor"/></svg> Correcto',
            "classes": "text-success-dark font-semibold"
          }
        ]
      ]
    })  }}
    <p class="flex items-center mb-xl"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 mr-sm text-alert-base" role="img" aria-label="Aviso"><path d="M138.658 119.992 80.325 9.158A11.667 11.667 0 0 0 70 2.917a11.667 11.667 0 0 0-10.325 6.241L1.342 119.992a11.667 11.667 0 0 0 .35 11.666 11.667 11.667 0 0 0 9.975 5.425h116.666a11.667 11.667 0 0 0 10.325-17.091ZM64.167 49.583a5.833 5.833 0 0 1 11.666 0v35a5.833 5.833 0 0 1-11.666 0Zm6.125 67.084a8.925 8.925 0 0 1-8.867-8.575A8.633 8.633 0 0 1 70 99.167a8.925 8.925 0 0 1 8.867 8.575 8.633 8.633 0 0 1-8.575 8.925Z" fill="currentColor" /></svg><span>Tu equipo no cumple los requisitos. Consulta los requisitos necesarios en el <a href="#" class="c-link">manual de ayuda</a></span></p>
    <h2 class="c-h2 pt-base">2. Realiza el test</h2>
    <div class="p-base bg-neutral-light rounded-lg border border-neutral-base mb-xl">
      <!-- notificación -->
      <div class="hidden mb-lg">
        {{ componentNotification({
          "title": {
            "text": "Debes establecer tu configuración previa"
          },
          "type": "info",
          "id": "info-notification"
        })  }}
      </div>
      <!-- /notificación -->
      <div class="p-base bg-white border border-neutral-base rounded-lg">
        <!-- iframe -->
        <iframe src="mfe-index-clave-iframe-content.html" frameborder="0" class="w-full"></iframe>
        <!-- /iframe -->
      </div>
    </div>
    {# Resultado #}
    <div class="p-base bg-neutral-light rounded-lg border border-neutral-base mb-xl">
      <!-- notificación -->
      <div class="mb-lg">
        {{ componentNotification({
          "title": {
            "text": "El acceso se ha realizado correctamente."
          },
          "type": "success",
          "id": "success-notification"
        })  }}
      </div>
      <!-- /notificación -->
      <h3 class="c-h2">Prueba finalizada con éxito</h3>
      <p>El proceso de identificación se ha realizado correctamente.</p>
    </div>
    {# Resultado con errores #}
    <div class="p-base bg-neutral-light rounded-lg border border-neutral-base mb-xl">
      <!-- notificación -->
      <div class="mb-lg">
        {{ componentNotification({
          "title": {
            "text": "La prueba tiene errores."
          },
          "description": {
            "text": "Problemas encontrados:"
          },
          "items": [
            {
              "text": "No se ha podido completar el proceso de identificación para acceder correctamente."
            }
          ],
          "type": "alert",
          "id": "type-alert"
        })  }}
      </div>
      <!-- /notificación -->
      <h3 class="c-h2">Prueba finalizada con errores</h3>
      <p>Descripción larga de los errores detectados...</p>
    </div>
    <h2 class="c-h2 pt-base">¿Quieres volver a realizar el test?</h2>
    <p><a href="#" class="c-link">Volver a realizar el test desde el inicio</a></p>
  </div>

  {# Información de contacto #}
  {% include "includes/contacto-footer.njk" %}
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
  {# javascript para que el iframe se ajuste automáticamente #}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}