{% set title = "Selección de tipo. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% set browser = "Internet Explorer 6" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="sticky z-10 top-0 w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
    <h2 id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</h2>
    {% include "includes/notificacion-identificado-correctamente.njk" %}
  </section>
  <!-- /page.notification-header-mfe -->
  {{ componentRadios({
    "idPrefix": "persona",
    "name": "persona",
    "fieldset": {
      "legend": {
        "html": '<h2>¿Cómo quieres continuar?</h2>',
        "classes": "c-h2"
      }
    },
    "items": [
      {
        "value": "tipo-ciudadano",
        "text": "Como ciudadano/a"
      },
      {
        "value": "tipo-empleado-publico",
        "text": "Como personal de la administración"
      }
    ]
  })  }}
  <ul>
    <li class="inline-block">
      {{ componentButton({
        "text": "Continuar",
        "classes": "c-button--primary"
      })  }}
    </li>
    <li class="inline-block">
      {{ componentButton({
        "text": "Acceder con otro usuario",
        "classes": "c-button--transparent"
      })  }}
    </li>
  </ul>
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-lg">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué puedo hacer como ciudadano/a?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué puedo hacer como personal de la administración?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cuál elegir si quiero...?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
    </ul>
  </div>
  <!-- end FAQ -->
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>

{% endblock %}