{% set title = "Proceso de firma completado. Volviendo a la aplicación… Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {{ componentSpinner({
    "classes": "hidden lg:inline-block align-middle ml-base mr-lg text-2xl",
    "attributes": {
      "aria-hidden": true
    }
  })  }}
  <h2 class="c-h2 lg:inline-block mb-sm">Proceso de firma completado. Ahora volverás a la aplicación.</h2>
  <p class="c-paragraph-base  mb-xl lg:ml-12">
    Esta pestaña se cerrará automáticamente una vez realizada la redirección.
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}