{% set title = "Selección de persona. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% set browser = "Internet Explorer 6" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {{ componentRadios({
    "idPrefix": "persona",
    "name": "persona",
    "fieldset": {
      "legend": {
        "html": '<h2>¿Cómo quieres continuar?</h2>',
        "classes": "c-h2"
      }
    },
    "hint": {
      "text": "Estás utilizando un certificado de representante de persona jurídica."
    },
    "items": [
      {
        "value": "persona-juridica",
        "text": "Como persona jurídica",
        "hint": {
          "text": "Representas a FUFASA, con NIF: Q0100000I"
        }
      },
      {
        "value": "persona-fisica",
        "text": "Como persona física",
        "hint": {
          "text": "Representas a SUBSCRIPTOR FICTICIO REPRESENTANTE ESPAÑOL, con tu NIF: 00000000T"
        }
      }
    ]
  })  }}
  <ul>
    <li class="inline-block">
      {{ componentButton({
        "text": "Continuar",
        "classes": "c-button--primary"
      })  }}
    </li>
    <li class="inline-block">
      {{ componentButton({
        "text": "Volver al inicio",
        "classes": "c-button--transparent"
      })  }}
    </li>
  </ul>
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-lg">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es una persona jurídica?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es una persona física?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cuál debo elegir?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Debo elegir la persona interesada en el trámite (jurídica o física). Es decir, si vas a a solicitar una subvención a nombre de tu empresa o entidad, tendrás que continuar como persona jurídica. Si lo vas a hacer a título individual tendrás que continuar como persona física. ..</p>
          </div>
        {% endcall %}
      </li>
    </ul>
  </div>
  <!-- end FAQ -->
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}