<div class="grid grid-cols-6 gap-5 mb-sm">
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-base text-white"><div class="self-center text-center w-full">alert</div></div>
  </div>
  <div class="flex col-span-2">
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-light text-black"><div class="self-center text-center w-full">alert-light <br><br>#fbd3ce</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-base text-white"><div class="self-center text-center w-full">alert-base <br><br>#d22333</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-alert-dark font-semibold text-white"><div class="self-center text-center w-full">alert-dark <br><br>#a40014</div></div>
  </div>
</div>