<div class="grid grid-cols-6 gap-5 mb-sm">
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-base text-white"><div class="self-center text-center w-full">primary</div></div>
  </div>
  <div class="col-span-2 flex">
    <div class="self-center text-sm">Información</div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-light text-black"><div class="self-center text-center w-full">primary-light <br><br>#b2d8e4</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-base text-white"><div class="self-center text-center w-full">primary-base <br><br>#00637f</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-primary-dark font-semibold text-white"><div class="self-center text-center w-full">primary-dark <br><br>#00475C</div></div>
  </div>
</div>