<div class="mb-2xl">
  <h2 id="prueba" class="c-h3 uppercase p-base border-b border-neutral-base group">Configura el tipo de firma <a href="#prueba" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
  <div class="px-base">
    <form action="#">
      {{ componentRadios({
        "idPrefix": "metodo",
        "name": "metodo",
        "formGroup": {
          "classes": "lg:w-1/2"
        },
        "fieldset": {
          "legend": {
            "text": "Selecciona un método de firma"
          }
        },
        "hint": {
          "html": 'Con certificado electrónico necesitarás que la aplicación AutoFirma esté instalada en tu equipo. Con&nbsp;<span aria-label="Clavefirma">Cl@veFirma</span> necesitarás estár registrado con nivel avanzado en&nbsp;<span aria-label="Clave">Cl@ve</span> y te pediremos un NIF para localizar tu certificado en la nube.'
        },
        "items": [
          {
            "value": "1",
            "text": "Con certificado electrónico",
            "checked": true
          },
          {
            "value": "2",
            "html": 'Con&nbsp;<span aria-label="Clavefirma">Cl@veFirma</span>'
          }
        ]
      })  }}
      {% call componentDetails({
        "summary": {
          "html": "Ajustes avanzados"
        },
        "classes": "mb-lg"
      })  %}
          <div class=" grid lg:grid-cols-2 gap-x-xl my-base">
            {{ componentRadios({
              "idPrefix": "algoritmo",
              "name": "algoritmo",
              "fieldset": {
                "legend": {
                  "text": "Selecciona un algoritmo de firma"
                }
              },
              "hint": {
                "text": "Si tienes dudas sobre cuál elegir, elige la primera opción ya que es la recomendada.",
                "classes": "text-sm mb-base"
              },
              "classes": "c-radios--sm",
              "formGroup": {
                "classes": "mb-sm"
              },
              "items": [
                {
                  "value": "1",
                  "text": "SHA512withRSA",
                  "checked": true,
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "2",
                  "text": "SHA256withRSA",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "3",
                  "text": "SHA1withRSA",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                }
              ]
            })  }}
            {% set conditionalFormato %}
              {{ componentRadios({
                "idPrefix": "subtipo",
                "name": "subtipo",
                "fieldset": {
                  "legend": {
                    "text": "Selecciona un subtipo:",
                    "classes": "mb-base font-normal text-sm"
                  }
                },
                "classes": "c-radios--sm",
                "formGroup": {
                  "classes": "mb-sm"
                },
                "items": [
                  {
                    "value": "1",
                    "text": "Detached",
                    "checked": true,
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "2",
                    "text": "Enveloped",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "3",
                    "text": "Enveloping",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  }
                ]
              })  }}
            {% endset %}
            {{ componentRadios({
              "idPrefix": "formato",
              "name": "formato",
              "fieldset": {
                "legend": {
                  "text": "Selecciona un formato de firma"
                }
              },
              "hint": {
                "text": "Si tienes dudas sobre cuál elegir, elige la primera opción ya que es la más común.",
                "classes": "text-sm mb-base"
              },
              "classes": "c-radios--sm",
              "formGroup": {
                "classes": "mb-sm"
              },
              "items": [
                {
                  "value": "1",
                  "text": "CAdES",
                  "checked": true,
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "2",
                  "text": "XAdES",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  },
                  "conditional": {
                    "html": conditionalFormato
                  }
                },
                {
                  "value": "3",
                  "text": "PAdES",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "4",
                  "text": "FacturaE",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "5",
                  "text": "CAdES-ASIC",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "6",
                  "text": "XAdES-ASIC",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                },
                {
                  "value": "0",
                  "text": "Ninguno",
                  "classes": "-mt-base",
                  "label": {
                    "classes": "text-sm -mt-1"
                  }
                }
              ]
            })  }}
          </div>
      {% endcall %}
      <p class="flex items-center mb-base"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 mr-xs text-primary-base" role="img" aria-label="Información"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg><span>No olvides establecer tu configuración con este botón</span></p>
      {{ componentButton({
        "element": "input",
        "name": "send-form",
        "classes": "c-button--primary",
        "text": "Establecer configuración de firma"
      })  }}
    </form>
    <div class="pb-xl"></div>
    <div class="hidden">
      <p class="c-paragraph-base">
        Tu configuración elegida es:
      </p>
      {{ componentDescriptionList({
        "classes": "lg:flex lg:gap-lg w-full",
        "items": [
          {
            "term": {
              "text": "Método:"
            },
            "definition": {
              "text": "Certificado electrónico"
            },
            "classes": "mb-base"
          },
          {
            "term": {
              "text": "Algoritmo:"
            },
            "definition": {
              "text": "SHA256withRSA"
            },
            "classes": "mb-base"
          },
          {
            "term": {
              "text": "Formato:"
            },
            "definition": {
              "text": "CAdES"
            },
            "classes": "mb-base"
          }
        ]
      })  }}
    </div>
  </div>
</div>