<hr class="border-t border-neutral-base my-xl">
<h2 id="contacto" class="c-h2 group">Ponte en contacto  <a href="#contacto" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
<div class="grid gap-2xl lg:grid-cols-2">
  <div>
    <h3 class="c-h3">Si eres ciudadano/a:</h3>
    <p class="mb-base">Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:</p>
    <ul class="list-disc pl-lg">
      <li class="my-sm">Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00 (excepto verano y festivos)</li>
      <li class="my-sm">Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
      <li class="my-sm">Enviar un WhatsApp a: <a href="tel:+34973901905" class="c-link">+34 973 901 905</a>. Más información sobre el <a class="c-link" href="#">canal WhatsApp</a></li>
      <li class="my-sm">Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
    </ul>
  </div>
  <div>
    <h3 class="c-h3">Si trabajas para el Gobierno de Aragón:</h3>
    <p class="mb-base">Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:</p>
    <ul class="list-disc pl-lg">
      <li class="my-sm">Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00 (excepto verano y festivos)</li>
      <li class="my-sm">Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
      <li class="my-sm">Enviar un WhatsApp a: <a href="tel:+34973901905" class="c-link">+34 973 901 905</a>. Más información sobre el <a class="c-link" href="#">canal WhatsApp</a></li>
      <li class="my-sm">Rellenar el <a href="https://soportesda.aragon.es/external" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
    </ul>
  </div>
</div>