{% set errorMsg %}
  No ha sido posible realizar la firma. <strong>Inténtalo de nuevo.</strong> Si el problema persiste, consulta la <a href="#" class="c-link">ayuda para firmar</a>.
{% endset %}

{{ componentNotification({
  "title": {
    "text": "Error en la firma"
  },
  "description": {
    "html": errorMsg,
    "classes": "c-paragraph-base mb-0"
  },
  "type": "alert",
  "id": "signature-alert",
  "isDismissible": true,
  "classes": "c-notification--alert mb-base"
})  }}