{% set errorMsg %}
  Tu equipo no cumple los requisitos mínimos. Consulta los <a href="#" class="c-link">requisitos mínimos del equipo para poder firmar</a>.
{% endset %}

{{ componentNotification({
  "title": {
    "text": "Error en la firma"
  },
  "description": {
    "html": errorMsg,
    "classes": "c-paragraph-base mb-0"
  },
  "type": "alert",
  "id": "signature-req-alert",
  "isDismissible": true,
  "classes": "c-notification--alert mb-base"
})  }}