{% set title = "Páginas" %}
{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Páginas</div>
  {% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
  {{ componentMenuVertical({
    "items": [
      {
        "href": "templates/pages/test-template.html",
        "text": "Test template",
        "divider": true
      },
      {
        "href": "templates/pages/mfe-index-iframe-content.html",
        "text": "0a. MFE index (template del contenido dentro del iframe)"
      },
      {
        "href": "templates/pages/mfe-index-con-iframe-redimensionable.html",
        "text": "0b. MFE index (template de con un iframe redimensionable con javascript que incluye la página anterior)"
      },
      {
        "href": "templates/pages/mfe-index.html",
        "text": "1. MFE index"
      },
      {
        "href": "templates/pages/mfe-index-clave.html",
        "text": "1a. MFE index Cl@ve"
      },
      {
        "href": "templates/pages/mfe-index-certificado.html",
        "text": "1b. MFE index certificado"
      },
      {
        "href": "templates/pages/mfe-loading-clave.html",
        "text": "2a. MFE loading Cl@ve"
      },
      {
        "href": "templates/pages/mfe-loading-certificado.html",
        "text": "2b. MFE loading certificado"
      },
      {
        "href": "#",
        "text": "3a. Identificación en Cl@ve",
        "disabled": true
      },
      {
        "href": "#",
        "text": "3b. Identificación en servicio SSL",
        "disabled": true
      },
      {
        "href": "templates/pages/mfe-logging.html",
        "text": "4. MFE logging"
      },
      {
        "href": "templates/pages/mfe-persona.html",
        "text": "5. MFE persona (opcional)"
      },
      {
        "href": "templates/pages/mfe-tipo.html",
        "text": "6. MFE tipo (opcional)"
      },
      {
        "href": "templates/pages/mfe-org-loading.html",
        "text": "7. MFE org loading"
      },
      {
        "href": "templates/pages/mfe-org.html",
        "text": "8. MFE org"
      },
      {
        "href": "#",
        "text": "9. Página de inicio de la app",
        "disabled": "true"
      },
      {
        "href": "templates/pages/mfe-logginout.html",
        "text": "10. MFE logginout"
      },
      {
        "href": "templates/pages/mfe-logout.html",
        "text": "11a. MFE logout"
      },
      {
        "href": "templates/pages/mfe-logout-app.html",
        "text": "11b. MFE logout app"
      },
      {
        "href": "templates/pages/mfe-error-identificacion.html",
        "text": "12. MFE error identificación",
        "divider": true
      },
      {
        "href": "templates/pages/mfe-index-firma.html",
        "text": "1. MFE index firma"
      },
      {
        "href": "templates/pages/mfe-index-firma-clavefirma.html",
        "text": "1a. MFE index Cl@veFirma"
      },
      {
        "href": "templates/pages/mfe-index-firma-afirma.html",
        "text": "1b. MFE index @Firma"
      },
      {
        "href": "templates/pages/mfe-loading-firma.html",
        "text": "4. MFE loading Cl@veFirma y @Firma"
      },
      {
        "href": "templates/pages/mfe-loading-waiting.html",
        "text": "5. MFE loading esperando plataforma de firma"
      },
      {
        "href": "templates/pages/mfe-loading-return.html",
        "text": "6. MFE loading volver",
        "divider": true
      },
      {
        "href": "templates/pages/mfe-loading-general.html",
        "text": "MFE loading general"
      },
      {
        "href": "templates/pages/mfe-manual.html",
        "text": "MFE manual"
      },
      {
        "href": "templates/pages/mfe-tests-de-identificacion-y-firma.html",
        "text": "MFE Tests de identificación y firma"
      },
      {
        "href": "templates/pages/mfe-test.html",
        "text": "MFE test de identificación"
      },
      {
        "href": "templates/pages/mfe-test-errores.html",
        "text": "MFE test de identificación con errores"
      },
      {
        "href": "templates/pages/mfe-test-de-firma-electronica.html",
        "text": "MFE test de firma electrónica"
      },
      {
        "href": "templates/pages/mfe-test-de-firma-electronica-en-lote.html",
        "text": "MFE test de firma electrónica en lote"
      },
      {
        "href": "templates/pages/mfe-test-de-multifirma-electronica-en-paralelo.html",
        "text": "MFE test de multifirma electrónica en paralelo (y en cascada)",
        "divider": true
      },
      {
        "html": "Nuevas páginas de test",
        "classes": "text-neutral-dark"
      },
      {
        "href": "templates/pages/mfe-test-guiado-identificacion-y-firma.html",
        "text": "MFE Test de Identificación y Firma"
      },
      {
        "href": "templates/pages/mfe-test-guiado-identificacion-y-firma-paso-a-paso.html",
        "text": "MFE Test de Identificación y Firma Paso a paso"
      },
      {
        "href": "templates/pages/mfe-test-guiado-identificacion-y-firma-test-identificacion.html",
        "text": "MFE Test de Identificación"
      },
      {
        "href": "templates/pages/mfe-test-guiado-identificacion-y-firma-unica-firma.html",
        "text": "MFE Test de Única firma"
      },
      {
        "href": "templates/pages/mfe-test-guiado-identificacion-y-firma-multi-firma.html",
        "text": "MFE Test de Multi-firma"
      }
    ]
  })  }}
  <div class="pb-2xl"></div>
{% endblock %}